body {
    margin: 0;
}

@font-face {
    font-family: "Rationale";
    src: "https://fonts.googleapis.com/css?family=Rationale&display=swap"
}

@keyframes MoonSlide {
    0% {
      transform: translateX(-300%);
    }
    100% {
      transform: translateX(0);
    }
  }

  @keyframes qutoesSlide {
    0% {
      transform: translateX(-300%);
    }
    100% {
      transform: translateX(0);
    }
  }

.img-moon{
    position: relative;
    width: 100%;
    height: auto;
}

.page-name {
    position: absolute;
    color: white;
    z-index: 2 !important;
    font-family: 'Rationale', sans-serif;
    font-size: 100px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white;
    margin-top: 5%;
    margin-left: 11%;
    margin-right: 92%;
    animation: 1s ease-out 0s 1 MoonSlide;
}

.container-discover .page-name{
  font-size: 80px;
  margin-left: 2%;
  margin-top: 7%;
}

.quote1 {
    position: absolute;
    color: white;
    z-index: 2 !important;
    font-family: 'Rationale', sans-serif;
    font-size: 30px;
    margin-top: 15%;
    margin-left: 3%;
    padding: 10px;
    animation: 1s ease-out 0s 1 MoonSlide;
}
.quote2 {
    position: absolute;
    color: white;
    z-index: 2 !important;
    font-family: 'Rationale', sans-serif;
    font-size: 25px;
    margin-top: 17%;
    margin-left: 3%;
    padding: 10px;
    animation: 1s ease-out 0s 1 MoonSlide;
}
.author {
    position: absolute;
    color: white;
    z-index: 2 !important;
    font-family: 'Rationale', sans-serif;
    font-size: 25px;
    margin-top: 20%;
    margin-left: 3%;
    padding: 10px;
    animation: 1s ease-out 0s 1 MoonSlide;
}

.discover-btn {
    position: absolute;
    background: white;
    z-index: 2 !important;
    font-family: 'Rationale', sans-serif;
    font-size: 30px;
    color: black;
    border: none;
    margin-top: 28%;
    padding: 25px 80px;
    border-radius: 0.5em;
    cursor: pointer;
    text-decoration: none;
}

.about-btn {
    position: absolute;
    background: transparent;
    z-index: 2 !important;
    font-family: 'Rationale', sans-serif;
    font-size: 30px;
    color: white;
    border: 5px solid white;
    margin-top: 35%;
    padding: 25px 88px;
    border-radius: 0.5em;
    cursor: pointer;
}

.back-icon {
  position: absolute;
  color: white;
  padding: 30px;
  z-index: 2 !important;
}

.back {
  position: absolute;
  margin-top: -45px;
  font-family: 'Rationale', sans-serif;
  font-size: 30px;
  margin-left: 50px;

}

.options {
  margin-left: 2%;
}

.option:nth-child(1) {
  position: absolute;
    color: white;
    z-index: 2 !important;
    font-family: 'Rationale', sans-serif;
    font-size: 45px;
    margin-top: 15%;
    padding: 10px;
    animation: 1s ease-out 0s 1 MoonSlide;
}
.option:nth-child(2) {
  position: absolute;
    color: white;
    z-index: 2 !important;
    font-family: 'Rationale', sans-serif;
    font-size: 45px;
    margin-top: 22%;
    padding: 10px;
    animation: 1s ease-out 0s 1 MoonSlide;
}
.option:nth-child(3) {
  position: absolute;
    color: white;
    z-index: 2 !important;
    font-family: 'Rationale', sans-serif;
    font-size: 45px;
    margin-top: 29%;
    padding: 10px;
    animation: 1s ease-out 0s 1 MoonSlide;
}

.option:nth-child(4) {
  position: absolute;
    color: white;
    z-index: 2 !important;
    font-family: 'Rationale', sans-serif;
    font-size: 45px;
    margin-top: 36%;
    padding: 10px;
    animation: 1s ease-out 0s 1 MoonSlide;
}

.option {
  transition: 0.5s;
  cursor: pointer;
}

.option:hover {
  font-size: 65px;
  color: rgb(8, 49, 8);
}